<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- JS -->
    <script defer src="./js/main.js"></script>
    
    <!-- CSS 초기화 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
    <link rel="stylesheet" href="./css/style.css" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

</head>
<body>
    <div class="container">
        
        <!-- MAIN MENU -->
        <header id="header-menu">
            <div class="logo">
                <!-- <img src="" alt="logo"> -->
                <h2>Moters</h2>
            </div>
            <ul class="main-menu">
                <li>
                    <a href="/">Home
                        <img src="./img/arrow_drop_down_white_36dp.svg" alt="drop-down">
                    </a>
                </li>
                <li>
                    <a href="/search">차량조회
                        <img src="./img/arrow_drop_down_white_36dp.svg" alt="drop-down">
                    </a>
                </li>
                <li>
                    <a href="/parts">재고
                        <img src="./img/arrow_drop_down_white_36dp.svg" alt="drop-down">
                    </a>
                </li>
                <li>
                    <a href="/calendar">일정
                        <img src="./img/arrow_drop_down_white_36dp.svg" alt="drop-down">
                    </a>
                </li>
            </ul>
            <!-- <div id="search">
                <input type="text" placeholder=" 차량번호를 입력하세요"/>
                <img src="./img/search_white_48dp.svg" alt="돋보기">
            </div> -->
            <div class="time">00:00</div>
        </header>
        
        
        <!-- MAIN CONTENTS -->
        <section id="main">
            <div class="header">
                <form id="search">
                    <input type="text" placeholder=" 차량번호를 입력하세요."/>
                    <input type="submit" value=" " />
                </form>
            </div>
            <div class="main-contents">
                <div class="view">
                    <div class="view-item">
                        <p>지난주</p>
                        <p>19</p>
                    </div>
                    <div class="view-item">
                        <p>이번주</p>
                        <p>11</p>
                    </div>
                    <div class="view-item">
                        <p>something</p>
                        <p>10</p>
                    </div>
                    <div class="view-item">
                        <p>something</p>
                        <p>10</p>
                    </div>

                </div>
            </div>







            <div id="events">
                <span class="material-icons">event</span>
            </div>
        </section>


    </div>
    
</body>
</html>