<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- JS -->
    <script defer src="./js/main.js"></script>
    <script src="https://kit.fontawesome.com/818834dbf2.js" crossorigin="anonymous"></script>

    <!-- CSS 초기화 -->
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/style2.css" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

</head>
<body>
    <div class="container">
        
        <!-- MAIN MENU -->
        <header>
            <div class="logo">
                <!-- <img src="" alt="logo"> -->
                <span>Management</span>
            </div>
            <!-- <ul class="main-menu">
                <li> -->
                    <form id="search">
                        <input type="text" placeholder=" Search"/>
                        <!-- <input class="hide" type="text" placeholder=" 차량번호를 입력하세요."/> -->
                        <!-- <input id="search-btn" type="submit" value=" " /> -->
                        <button class="search-btn">
                            <a href="javascript:void(0)">
                                <i class="fas fa-search"></i>
                            </a>
                        </button>
                    </form>
                    <!-- <a href="javascript:void(0)">Home</a> -->
                <!-- </li>
                <li>
                    <a href="javascript:void(0)">재고관리</a>
                </li>
                <li>
                    <a href="javascript:void(0)">일정관리</a> -->
                <!-- </li>
            </ul> -->
            <!-- <div id="search">
                <input type="text" placeholder=" 차량번호를 입력하세요"/>
                <img src="./img/search_white_48dp.svg" alt="돋보기">
            </div> -->
            <!-- <div class="time">00:00</div> -->
        </header>


        <!-- NAV -->
        <nav>
            <div class="menu">
                <ul class="main-menu">
                    <li>
                        <a href="javascript:void(0)">Home</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">재고관리</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">일정관리</a>
                    </li>
                </ul>
                
                <ul class="sub-menu">
                    <li>
                        <i class="far fa-clock"></i>
                        <div id="time">
                            <p>0000-00-00</p>
                            <p>00:00</p>
                        </div>
                    </li>
                    <li>
                        <i class="far fa-calendar-alt"></i>
                        <p>calendar</p>
                        <i class="fas fa-chevron-left" id="check-calender"></i>
                    </li>
                </ul>

            </div>
        </nav>
        

        <!-- MAIN CONTENTS -->
        <article>
            <section class="section-1">
                <ul class="view">
                    <li class="view-item">
                        <p>last week</p>
                        <div class="increase">
                            <p>19</p>
                            <i class="fas fa-chevron-up i-green"></i>
                        </div>
                    </li>

                    <li class="view-item">
                        <p>this week</p>
                        <div class="increase">
                            <p>11</p>
                            <i class="fas fa-chevron-down i-red"></i>
                        </div>
                    </li>

                    <li class="view-item">
                        <p>something</p>
                        <div class="increase">
                            <p>11</p>
                            <i class="fas fa-chevron-up i-green"></i>
                        </div>
                    </li>

                    <li class="view-item">
                        <p>something</p>
                        <div class="increase">
                            <p>10</p>
                            <i class="fas fa-chevron-down i-red"></i>
                        </div>
                    </li>
                </ul>
            </section>
            






            <footer>
                <span>- footer -</span> 
            </footer>
        </article>

        <div id="events">
            <i class="far fa-calendar-alt"></i>
        </div>

    </div>
    
</body>
</html>