<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- JS -->
    <script defer src="./js/time.js"></script>
    <script defer src="./js/parts.js"></script>
    <script src="https://kit.fontawesome.com/818834dbf2.js" crossorigin="anonymous"></script>

    <!-- CSS 초기화 -->
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/base.css" />
    <link rel="stylesheet" href="./css/parts.css" />
    <link rel="stylesheet" href="./css/header-search.css" />


    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

</head>
<body>
    <div class="container">
        
        <!-- MAIN MENU -->
        <header>
            <div class="logo">
                <!-- <img src="" alt="logo"> -->
                <span>Management</span>
            </div>
                <form id="search">
                    <input type="text" name="keyword" placeholder=" Search" />
                    <button class="search-btn" formaction="/search">
                        <a href="javascript:void(0)">
                            <i class="fas fa-search"></i>
                        </a>
                    </button>
                </form>
        </header>


        <!-- NAV -->
        <nav>
            <div class="menu">
                <ul class="main-menu">
                    <li>
                        <a href="/"><i class="fas fa-home"></i>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/search">
                            <i class="fas fa-search"></i>
                            검색
                        </a>
                    </li>
                    <li>
                        <a href="/parts">
                            <i class="fas fa-th-large"></i>
                            재고관리
                        </a>
                    </li>
                    <li>
                        <a href="/calendar">
                            <i class="far fa-calendar-alt"></i>
                            일정관리
                        </a>
                    </li>
                </ul>
                
                
                <div id="time">
                    <p>0000-00-00</p>
                    <div class="clock">
                        <p>AM </p>
                        <p>00:00</p>
                    </div>
                </div>
                    
                

            </div>
        </nav>
        

        <!-- MAIN CONTENTS -->
        <article>
            <section class="section-1">
                <div class="outOfStockBox">
                    <div class="title">Out of Stocks Alret</div>
                    <ul id="outOfStock" class="item">
                        <li class="stock">
                            <div class="title">쇼바</div>
                            <div class="num item">2</div>
                        </li>
                        <li class="stock">
                            <div class="title">쇼바</div>
                            <div class="num item">2</div>
                        </li>
                        <li class="stock">
                            <div class="title">쇼바</div>
                            <div class="num item">2</div>
                        </li>
                        <li class="stock">
                            <div class="title">쇼바</div>
                            <div class="num item">2</div>
                        </li>
                    </ul>
                </div>
            </section>
            
            <section class="section-2">
                <div class="part-searchBox">
                    <div class="part-btnBox">
                        <button class="openDataBtn">재고추가</button>
                    </div>
                    <div class="title">Parts Search</div>
    
                    <div class="searchPartsBox item">
                        <div class="data-search">
                            <form id="searchParts">
                                <input type="text" name="keyword" placeholder=" Search"/>
                                <button class="searchParts-btn">
                                    <a href="javascript:void(0)">
                                        <i class="fas fa-search"></i>
                                    </a>
                                </button>
                            </form>
                        </div>
                        <div class="data-addBox hide">
                            <form id="data-add">
                                <div>
                                    <span>재고추가</span>
                                    <div class="addBtnBox">
                                        <button class="btn">추가하기</button>
                                        <div class="close btn">Close</div>
                                    </div>
                                </div>
                                <div>
                                    <input name="car_name" type="text" placeholder="차종">
                                    <input name="part" type="text" placeholder="이름">
                                    <input name="price" type="text" placeholder="가격">
                                    <input name="lastday" type="text" placeholder="마지막사용일">
                                    <input name="num" type="text" placeholder="재고수량">
                                </div>
                            </form>
                        </div>
                        <table>
                            <th>차종</th>
                            <th>이름</th>
                            <th>가격</th>
                            <th>마지막 사용일</th>
                            <th>재고</th>
                            <th>⊖</th>
                            <th>⊕</th>
    
                            <tr>
                                <td>렉스턴</td>
                                <td>타이어</td>
                                <td>30,000</td>
                                <td>2021-08-31</td>
                                <td>2</td>
                                <td><button class="add-part">-</button></td>
                                <td><button class="del-part">+</button></td>
                            </tr>
                            <tr>
                                <td>렉스턴</td>
                                <td>타이어</td>
                                <td>30,000</td>
                                <td>2021-08-31</td>
                                <td>2</td>
                                <td><button>-</button></td>
                                <td><button>+</button></td>
                            </tr>
                            <tr>
                                <td>렉스턴</td>
                                <td>타이어</td>
                                <td>30,000</td>
                                <td>2021-08-31</td>
                                <td>2</td>
                                <td><button>-</button></td>
                                <td><button>+</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
                
            </section>


        </article>

        <!-- <div id="todayBtn">
            <i class="far fa-calendar-alt"></i>
        </div> -->

    </div>
    
</body>
</html>