body{
    /* background-color: rgb(230, 230, 230); */
    height: 100%;
    width: 100%;
}

.show{
    animation: show 1.5s;
}
@keyframes show{
  from{opacity: 0;}
  to{opacity: 1;}
}



article .section-1{
    width: 100%;
}
#calender-event{
}
article .section-1 .click-detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}


article .section-1 .calender{
    width: auto;
    position: relative;
    /* height: 700px; */
    border-radius: 30px 30px 0 0;
    /* padding: 30px; */
    box-sizing: border-box;
    /* margin: 30px; */
    background-color: rgb(245, 245, 245);
    box-shadow: rgb(200 200 200) 0 0 15px;
    
    
}
article .section-1 .calender .calender-month{
    width: 100%;
    border-radius: 30px 30px 0 0;
}
article .section-1 .calender .calender-month .control-month{
    border-radius: 30px 30px 0 0;
    display: flex;
    position: relative;
    width: 100%;
    height: 60px;
    font-size: 40px;
    font-weight: 500;
    /* background-color: rgb(235, 235, 235); */
    background-color: rgb(32, 32, 32);
}
article .section-1 .calender .calender-month .control-month .month{
    color: #fff;
    width: 100%;
    line-height: 60px;
    text-align: center;
}
article .section-1 .calender .calender-month .control-month .material-icons{
    font-size: 50px !important;
    cursor: pointer;
    color: rgb(200, 200, 200);
}
article .section-1 .calender .calender-month .control-month .material-icons:hover{
    color: #fff;
}
article .section-1 .calender .calender-month .control-month .material-icons.prev{
    margin: auto 0;
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;
}
article .section-1 .calender .calender-month .control-month .material-icons.next{
    margin: auto 0;
    -ms-user-select: none; 
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;

}

article .section-1 .calender .calender-month .calender-head{
    /* margin: 0 10px; */
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 10px 0;
    box-sizing: border-box;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
}
article .section-1 .calender .calender-month .calender-head .date-week{
    text-align: center;
    padding: 10px;
    font-size: 25px;
    font-weight: 700;
    /* border: 1px solid rgb(255, 255, 255); */
}
article .section-1 .calender .calender-month .calender-main{
    /* padding: 20px 0; */
    /* padding: 10px; */
    box-sizing: border-box;
}
article .section-1 .calender .calender-month .calender-main .dates{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 90px 90px 90px 90px;
}
article .section-1 .calender .calender-month .calender-main .dates .date{
    font-size: 25px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* line-height: 100px; */
    font-weight: 400;
    z-index: 10;
    /* display: block; */
    cursor: pointer;
    min-height: 80px;
    transition: color 1s;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
}
article .section-1 .calender .calender-month .calender-main .dates .date:hover{
    background-color:  rgb(235, 235, 235);
    /* border-radius: 30px; */
}
article .section-1 .calender .calender-month .calender-main .dates .date p{
    /* padding-top: 10px; */
}
/* article .section-1 .calender .calender-month .calender-main .dates .date.today{
    text-decoration: underline red;
    text-underline-position:under
} */
article .section-1 .calender .calender-month .calender-main .dates .date.today {
    position: relative;
    color: #FFFFFF;
}
  
article .section-1 .calender .calender-month .calender-main .dates .date.today::before {
    content: '';
    position: absolute;
    /* top: 50%; */
    top: 50%;
    left: 50%;
    /* margin-top: 10px; */
    z-index: -1;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgb(50, 150, 200);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
article .section-1 .calender .calender-month .calender-main .dates .date.other p{
    opacity: 0.2;
}


article .section-1 .details{
    border-radius: 20px 20px 0 0;

}
article .section-1 .details .title{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
    background-color: rgb(32, 32, 32);
    color: #fff;
    border-radius: 20px 20px 0 0;
}
article .section-1 .details .worksBox{
    padding: 10px;
    overflow: auto;
    max-height: 600px;
    border: 10px solid transparent;
}
article .section-1 .details .worksBox .work{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-top: none;
    padding: 0 5px 5px 5px;
    position: relative;
    margin: 20px 0;
    
    
}
article .section-1 .details .worksBox .work .flexBox{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
article .section-1 .details .worksBox .work .flexBox:first-child{
    background-color: rgb(50, 150, 200);
    padding: 3px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
}
article .section-1 .details .worksBox .work .flexBox:last-child{
    margin-bottom: 5px;
}
/* article .section-1 .details .worksBox .work .time{
} */




article .section-2 {
    width: 100%;
    padding-top: 0;
}

article .section-2 .scheduleBox{
    margin-top: 30px;
}
#data-form form input{
    width: 15%;
}
/* #data-form form .span-label {
    margin-top: 20px;
}
#data-form form .span-label p{
    width: calc(140px + 75%);
    color: #fff;
} */
#data-form form .description {
    margin-top: 10px;
}
#data-form form .description textarea{
    width: calc(130px + 75%);
    margin: 10px;
}