
article .section-1 {
    width: 100%;
    /* padding-bottom: 0; */
}

#search {
    /* height: 60px; */
    width: 40%;
    align-items: center;
    box-sizing: border-box;
    margin: 30px auto;
    position: relative;
}
#search input {
    all: unset;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    background-color: transparent;
    color: #fff;
    box-sizing: border-box;
    background-color: #000;
}
#search input::placeholder {
    color: #fff;
    font-size: 15px;
}
#search .search-btn {
    all: unset;
    position: absolute;
    top: 0;
    right: 5px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;

}



#data-form {
    position: relative;
    width: 100%;
    /* height: 20%; */
    background-color:#191919;
    /* background-color:#fff; */
    padding: 10px;
    padding-top: 0;
    box-sizing: border-box;
    border-radius: 10px;
}
#data-form form input{
    all: unset;
    max-width: 15%;
    padding: 5px;
    background-color: #000;
    margin: 10px;
    margin-top: 20px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
}
#data-form form input::placeholder {
    color: #fff;
}
#data-form form div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#data-form form div:first-child {
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
#add-close-btn {
    position: absolute;
    right: 10px;
    top: 0;
    width: 80px;
    height: 30px;
    margin: 10px;
    color: #fff;
    background-color: #191919;
    border: 1.5px solid #fff;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
}
#add-close-btn:hover {
    background-color: #fff;
    color: #191919;
}
#data-form form span {
    color: #fff;
    font-size: 20px;
    margin-left: 20px;

}
#data-form form button {
    width: 200px;
    height: 30px;
    font-size: 17px;
    margin: 10px;
    margin-right: 100px;
    justify-self: center;
    border-radius: 7px;
    background-color: #191919;
    border: 1.5px solid #fff;
    color: #fff;
    transition: all .3s;
    cursor: pointer;
}
#data-form form button:hover {
    background-color: #fff;
    color: #191919;
}
    





article .section-2 {
    width: 100%;
}
article #data-container {
    /* padding: 30px; */
    border-radius: 10px;
}
article #data-container .btnBox{
    position: absolute;
    top: 0%;
    right: 0;
    z-index: 10;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}
article #data-container table {
    border-radius: 10px;
    width: 100%;
    max-height: 600px;
}
article #data-container table th {
    font-size: 20px;
    padding: 15px 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    /* border-top: 1px solid rgba(0, 0, 0, 0.2); */
    /* background-color: rgb(210, 215, 220); */
    background-color: #191919;
    font-weight: 500;
    color: #fff;
}
article #data-container table th:first-child {
    border-radius: 10px 0 0 0;
}
article #data-container table th:last-child {
    border-radius: 0 10px 0 0;
}

article #data-container table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
article #data-container table tr:hover {
    background-color: rgb(220, 220, 220);
}
article #data-container table tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
article #data-container table tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}
article #data-container table tr:last-child {
    border-bottom: none;
}
article #data-container table tr td {
    text-align: center;
    font-size: 18px;
    padding: 15px 0;
    height: 50px;
    box-sizing: border-box;
}
article #data-container table .updatedTr{
    background-color: lightblue !important;
}
article #data-container table tr .updatedTd {
    padding: 10px 0;
}
article #data-container table tr input:not([type=checkbox]) {
    all: unset;
    padding: 3px;
    width: 90%;
    height: 30px;
    border: 1.5px solid rgb(140, 140, 140);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
}




/* UPDATE-BOX */
#data-update-div {
    padding: 20px 0;
    position: absolute;
    top: 60px;
    left: 30px;
    right: 30px;
    box-sizing: border-box;
}
article #update-box { 
    width: 100%;
}
article #update-box .data-btn {
    margin: 20px 100px;
    min-width: 20%;
    border: none;
    color: #191919;
    font-weight: 600;
}
article #update-box .data-btn:first-child { 
    background-color: forestgreen;
    color: #fff;
}
article #update-box .data-btn:first-child:hover { 
    background-color: greenyellow;
    color: #191919;
}
article #update-box .data-btn:last-child { 
    background-color: orangered;
    color: #fff;
}
article #update-box .data-btn:last-child:hover { 
    background-color: orange ;
    color: #191919;
}
#update-box {
    /* position: relative; */
    width: 100%;
    /* height: 20%; */
    background-color:#191919;
    /* background-color:#fff; */
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    
}
#update-box .felx-box {
    display: flex;
    justify-content: center;
}
#update-box span {
    font-size: 20px;
    font-weight: 700;
    display: block;
    padding: 10px;
    color: #fff;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}